# 2. Les variables

In [1]:
#1a=11

In [2]:
a1=11

In [3]:
m=3
M=4
print(M)
print(m)

4
3

In [4]:
m=2
print(m)

2

# 3. Les différents types de données (int, float, bool, str)
## 3.1.	Les nombres réels et entiers

In [5]:
type(11)

int

In [6]:
type(11.1)

float

In [7]:
int(3.5)

3

In [8]:
float(3)

3.0

## 3.2.	Les booléens

In [9]:
3 < 5

True

In [10]:
3 > 5

False

In [11]:
type(3>5)

bool

## 3.3.	Les chaines de caractères

In [12]:
print("mon texte")

mon texte

In [13]:
type("mon texte")

str

In [14]:
5+15

20

In [15]:
#"15" + 2

In [16]:
str(15)

'15'

# 4. Les structures de données basiques (listes, tuples et dictionnaires)
## 4.1. Les listes
### 4.1.1. Créer une liste

In [17]:
ma_liste = [1,2,3,4,5,6,7,8,"hello" ,10.5]
print(type(ma_liste))
print(ma_liste)

<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 'hello', 10.5]

### 4.1.2. Accéder aux éléments d'une liste

In [18]:
print(ma_liste[1])

2

In [19]:
ma_liste[2:4]

[3, 4]

In [20]:
ma_liste[:4]

[1, 2, 3, 4]

In [21]:
ma_liste[3:]

[4, 5, 6, 7, 8, 'hello', 10.5]

In [22]:
ma_liste[0:3:2]

[1, 3]

In [23]:
ma_liste[::2]

[1, 3, 5, 7, 'hello']

In [24]:
ma_liste[1::2]

[2, 4, 6, 8, 10.5]

In [25]:
ma_liste[-2]

'hello'

In [26]:
ma_liste[1:-4]

[2, 3, 4, 5, 6]

### 4.1.3.	Ajouter et supprimer des éléments à une liste

In [27]:
ma_liste.append(2)
print(ma_liste)

[1, 2, 3, 4, 5, 6, 7, 8, 'hello', 10.5, 2]

In [28]:
ma_liste.insert(5,"nouvelle")
print(ma_liste)

[1, 2, 3, 4, 5, 'nouvelle', 6, 7, 8, 'hello', 10.5, 2]

In [29]:
ma_liste[0]="a"
print(ma_liste)

['a', 2, 3, 4, 5, 'nouvelle', 6, 7, 8, 'hello', 10.5, 2]

In [30]:
ma_liste[3:5]=[8,10]
print(ma_liste)

['a', 2, 3, 8, 10, 'nouvelle', 6, 7, 8, 'hello', 10.5, 2]

In [31]:
ma_liste[0:2] = []
print(ma_liste)

[3, 8, 10, 'nouvelle', 6, 7, 8, 'hello', 10.5, 2]

In [32]:
ma_liste[3]=[]
print(ma_liste)

[3, 8, 10, [], 6, 7, 8, 'hello', 10.5, 2]

In [33]:
del ma_liste[3]
print(ma_liste)

[3, 8, 10, 6, 7, 8, 'hello', 10.5, 2]

## 4.2. Les tuples

In [34]:
mon_tuple=(1,2,3,4,5)
print(type(mon_tuple))
print(mon_tuple)

<class 'tuple'>
(1, 2, 3, 4, 5)

In [35]:
mon_tuple[0]

1

In [36]:
ma_variable1, ma_variable2 = 1, 2
print(ma_variable1)
print(ma_variable2)

1
2

In [37]:
#mon_tuple[0]=10
#print(mon_tuple)

## 4.3. Les dictionnaires
### 4.3.1. Introduction aux dictionnaires

In [38]:
notes_eleves = {
  "Marie": 15,
  "Thomas": 12,
  "Julien": "absent",
  "Elise": 9,
  "Samuel": 17
} 
print(notes_eleves)

{'Marie': 15, 'Thomas': 12, 'Julien': 'absent', 'Elise': 9, 'Samuel': 17}

In [39]:
notes_eleves["Samuel"]

17

In [40]:
notes_eleves["Julie"]=9
print(notes_eleves)

{'Marie': 15, 'Thomas': 12, 'Julien': 'absent', 'Elise': 9, 'Samuel': 17, 'Julie': 9}

In [41]:
notes_eleves["Julien"]=13
print(notes_eleves)

{'Marie': 15, 'Thomas': 12, 'Julien': 13, 'Elise': 9, 'Samuel': 17, 'Julie': 9}

### 4.3.2. Ajouter, modifier et supprimer des éléments d'un dictionnaire

In [42]:
del notes_eleves["Julie"]
print(notes_eleves)

{'Marie': 15, 'Thomas': 12, 'Julien': 13, 'Elise': 9, 'Samuel': 17}

### 4.3.3. Parcourir un dictionnaire

In [43]:
notes_eleves.items()

dict_items([('Marie', 15), ('Thomas', 12), ('Julien', 13), ('Elise', 9), ('Samuel', 17)])

In [44]:
for cle,valeur in notes_eleves.items():
    print(cle,valeur)

Marie 15
Thomas 12
Julien 13
Elise 9
Samuel 17

# 5. Les opérateurs arithmétiques, relationnels et logiques
## 5.1. Les opérateurs arithmétiques

In [45]:
# Une addition
print("Résultat de l'addition 5+3 :")
print(5+3)
# Une soustraction
print("Résultat de la soustraction 5-3 :")
print(5-3)
# Une division
print("Résultat de la division 10/3 :")
print(10/3)
print("Le reste de la division 10/3 :")
print(10 % 3)

Résultat de l'addition 5+3 :
8
Résultat de la soustraction 5-3 :
2
Résultat de la division 10/3 :
3.3333333333333335
Le reste de la division 10/3 :
1

## 5.2. Les opérateurs relationnels et logiques
### 5.2.1.	Les opérateurs relationnels

In [46]:
print(1==1)
print(1!=1)
print(5>3)
print(10>=10)
print(3>25)

True
False
True
True
False

### 5.2.2. Les opérateurs logiques

In [47]:
print((3 ==3) and (4 == 4))
print((3 ==3) and (4 == 5))
print((3 ==3) or (4 == 5))

True
False
True

# 6. Vocabulaire en Python : fonctions, méthodes, attributs, modules et librairies (packages)

In [48]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [49]:
print(12, end="b")

12b

# 7. Instructions de condition if et boucles for
## 7.1. Instruction de condition if

In [50]:
ma_variable1=2
ma_variable2=6
ma_variable3="hello"

In [51]:
if (ma_variable1 == 2) and (ma_variable3 == "hello"):
    print("Ta comparaison est vraie !")
else:
    print("Ta comparaison est fausse !")

Ta comparaison est vraie !

In [52]:
if (ma_variable1 > ma_variable2) or (ma_variable3 == "hello"):
    print("Ta comparaison est vraie !")
else:
    print("Ta comparaison est fausse !")

Ta comparaison est vraie !

## 7.2. Boucle for

In [53]:
ma_liste = [1,2,3,4,5,6,7,8,9,10] 
print(ma_liste)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [54]:
for ma_valeur in ma_liste:
    print(ma_valeur*2)

2
4
6
8
10
12
14
16
18
20